.App {
  text-align: center;
  background-color: Black;
  color: #7B6D8D;
  width: 97.9vw;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}
.AppTitle{
  color: white;
}

.Admin {
  margin: 1rem;
}
.Logo {
  margin-left: 0rem;
  padding: 5px;
}

.logout {
  margin: 2rem;
 }

.caption {
  color: black;
}

.carousel {
  width: 60rem;
  height: 25rem;
  margin-left: 5rem;
  margin-right: 5rem;
  box-shadow: 5px 5px 5px purple;
}

.UserInput{
  margin: 1rem;
}
.UserInput input{ 
  margin: 1rem;
}
.UserInput button {
  margin: 1rem;
}

.Userlist {
  margin: 1rem;
  list-style: none;
}

.card {
  height: 20rem;
  margin-bottom: 5rem;
}

.card-text {
  height: 10rem;
  overflow-y: auto;
  width: 100%;
}

.card-text p {
  word-break: break-word;
}
/* Hide Scrollbar */

/* Hide scrollbar for Chrome, Safari and Opera */
.card-text::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.card-text {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.App::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.App {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card-body {
  background-color: #360D44;
  
}

.editModal {
  background-color: #7B6D8D;
  color: #360D44;

}

.editModal input {
  margin: 1rem;
}

.cardGroup {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 6rem;
}

.Allstories {
    max-width: 15rem;
    flex: 0 1 24%;
    height: 15rem;
}

.viewOne {
    position: relative;
    width: 65rem;
    margin: auto;
    margin-top: 9rem;
    box-shadow: 5px 5px 5px gray;
    flex: 0 1 24%;
    justify-content: center;
    align-self: center;
}

.userDisplay {
    width: 65rem;
    margin: auto;
    margin-top: 1rem;
    box-shadow: 5px 5px 5px gray;
    flex: 0 1 24%;
    justify-content: center;
    align-self: center;
    height: 8rem;
}

.storiesInput form{
  margin: 1rem;
  width: 100vw;
  margin-bottom: 5.7rem;
}
.storiesInput input{ 
  margin: 1rem;
}
.storiesInput button {
  margin: 1rem;
}

.characterInput form{
  margin: 1rem;
}

.gender{
  margin-right: 1rem;
}
.age {
  margin-right: 2.5rem;
}
.characterInput input{ 
  margin: 1rem;
  width: 15rem;
}

.characterInput button {
  margin: 1rem;
}

h1, h2, h3 {
  margin: 1rem;
}

/* Animations */

/* Entrance */
.App {
	-webkit-animation: App 1s 0.5s both;
	        animation: App 1s 0.5s both;
}

@-webkit-keyframes App {
  0% {
    -webkit-transform: rotate(540deg) scale(5);
            transform: rotate(540deg) scale(5);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes App {
  0% {
    -webkit-transform: rotate(540deg) scale(5);
            transform: rotate(540deg) scale(5);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}