.App {
  text-align: center;
  background-color: Black;
  color: #7B6D8D;
  width: 98vw;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.AppTitle{
  color: white;
}

.Admin {
  margin: 1rem;
}
.Logo {
  margin-left: 0rem;
  padding: 5px;
}

.logout {
  margin: 2rem;
 }

.caption {
  color: black;
}

.carousel {
  width: 60rem;
  height: 35rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.UserInput{
  margin: 1rem;
}
.UserInput input{ 
  margin: 1rem;
}
.UserInput button {
  margin: 1rem;
}

.Userlist {
  margin: 1rem;
  list-style: none;
}

.card-body {
  background-color: #360D44;
}

.editModal {
  background-color: #7B6D8D;
  color: #360D44;

}

.editModal input {
  margin: 1rem;
}

.cardGroup {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 10px;
}

.Allstories {
    max-width: 15rem;
    flex: 0 1 24%;
}

.viewOne {
    width: 65rem;
    margin: auto;
    margin-top: 1rem;
    box-shadow: 5px 5px 5px gray;
    flex: 0 1 24%;
    justify-content: center;
    align-self: center;
}

.storiesInput form{
  margin: 1rem;
  width: 100vw;
  margin-bottom: 5.7rem;
}
.storiesInput input{ 
  margin: 1rem;
}
.storiesInput button {
  margin: 1rem;
}

.characterInput form{
  margin: 1rem;
}

.gender{
  margin-right: 1rem;
}
.age {
  margin-right: 2.5rem;
}
.characterInput input{ 
  margin: 1rem;
  width: 15rem;
}

.characterInput button {
  margin: 1rem;
}
