.App {
  text-align: center;
  background-color: black;
  color: silver;
  width: 100vw;
  height: 200vw;
}
.AppTitle{
  color: white;
}
.Logo {
  margin-left:-4rem;
  padding: 5px;
}

.logout {
  margin: 2rem;
 }

.caption {
  color: black;
}

.carousel {
  width: 60rem;
  height: 35rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.UserInput{
  margin: 1rem;
}
.UserInput input{ 
  margin: 1rem;
}
.UserInput button {
  margin: 1rem;
}