.App {
  text-align: center;
  background-color: black;
  color: silver;
  width: 100vw;
  height: auto;
}
.AppTitle{
  color: white;
}
.Logo {
  margin-left: 0rem;
  padding: 5px;
}

.logout {
  margin: 2rem;
 }

.caption {
  color: black;
}

.carousel {
  width: 60rem;
  height: 35rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.UserInput{
  margin: 1rem;
}
.UserInput input{ 
  margin: 1rem;
}
.UserInput button {
  margin: 1rem;
}

.Userlist {
  list-style: none;
}

.cardGroup {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.Allstories {
    max-width: 15rem;
    margin: 5px;
    box-shadow: 5px 5px 5px gray;
    flex: 0 1 24%;
}

.viewOne {
    max-width: 20rem;
    margin: 5px;
    box-shadow: 5px 5px 5px gray;
    flex: 0 1 24%;
    justify-content: center;
}
